.DS_Store
*.hex
*.pyc
TODO
.firmware_cache/
Release/*.hex
Release/*.zip
Release/*.json
Console/build
build/*
.pio/*
.vscode/*
# Allow specific binaries even if they are in an ignored folder
!**/*.bin
# Allow specific binaries even if they are in an ignored folder
!**/*.zip

